<app-header/>

<div class="container">
    <div class="card">
        <h1>Restablecer Contraseña</h1>
        <p>Ingresa tu correo electrónico para recibir un enlace de restablecimiento.</p>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <label for="email">Correo Electrónico:</label>
            <input
                type="text"
                placeholder="Correo"
                formControlName="correo"
                [ngClass]="{ 'is-invalid': resetForm.get('email')?.invalid && resetForm.get('email')?.touched }"
            >
            @if (resetForm.get('email')?.invalid && resetForm.get('email')?.touched) {
                <div class="error-message">
                    @if (resetForm.get('email')?.errors?.['required']) {
                        <div>El email es requerido.</div>
                    }
                    @if (resetForm.get('email')?.errors?.['email']) {
                        <div>El email no es válido.</div>
                    }
                </div>
            }
            <div class="button-container">
                <button type="submit" [disabled]="resetForm.invalid || isLoading">Enviar Enlace</button>
            </div>
        </form>
        <p [ngClass]="{'success': messageType === 'success', 'error': messageType === 'error'}">
            {{ message }}
        </p>
    </div>
</div>