.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 80vh; /* Ocupa toda la altura de la pantalla */
  padding: 1rem;
}

.card {
  background-color: #e2c4b6;
    border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 2rem; /* Espaciado interno */
  max-width: 500px; /* Ancho máximo de la card */
  width: 100%; /* Ocupa el 100% del contenedor */
  text-align: center; /* Centra el texto */
}

h1 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 4rem; /* Tamaño del título */
}

p {
  color: #666;
  margin-bottom: 1.5rem;
  font-size: 2rem; 
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 80%; /* Ocupa el 100% del ancho disponible */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd; /* Borde más suave */
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #687483; /* Cambia el color del borde al enfocar */
  outline: none; /* Quita el outline predeterminado */
}

.error-message {
  margin-top: 0.5rem;
  color: #dc3545;
  font-size: 0.875rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem; /* Espaciado superior */
}

button {
  width: 80%; /* Ocupa el 100% del ancho disponible */
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #687483;
  font-family: "Staatliches", cursive;
  font-size: 2rem; /* Tamaño del texto del botón */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */

}

button:hover {
  background-color: #5a6770; /* Color más oscuro al pasar el mouse */
}

button:disabled {
  background-color: #a0a8b0; /* Color más claro cuando está deshabilitado */
  cursor: not-allowed;
}

.message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.success {
  margin: auto;
  margin-top: 16px;
  width: 80%;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
}

.error {
  margin: auto;
  margin-top: 16px;
  width: 80%;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
}