.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 80vh; /* Ocupa toda la altura de la pantalla */
  padding: 1rem;
}

.reset-card {
  background-color: #e2c4b6;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 2rem; /* Espaciado interno */
  max-width: 500px; /* Ancho máximo de la card */
  width: 100%; /* Ocupa el 100% del contenedor */
  text-align: center; /* Centra el texto */
}

h1 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 4rem; /* Tamaño del título */
}

.description {
  color: #666;
  margin-bottom: 1.5rem;
  font-size: 2rem; /* Tamaño del texto descriptivo */
}

.form-group {
  margin-bottom: 1rem;
  text-align: center;
}

label {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
  color: #333;
  margin-left: 50px;
}

input[type="password"] {
  width: 80%; /* Ocupa el 100% del ancho disponible */
  padding: 10px;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd; /* Borde más suave */
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

input[type="password"]:focus {
  border-color: #687483; /* Cambia el color del borde al enfocar */
  outline: none; /* Quita el outline predeterminado */
}

.is-invalid {
  border-color: #dc3545; /* Borde rojo para campos inválidos */
}

.error-messages {
  margin-top: 0.3rem;
  color: #dc3545;
  font-size: 1.5rem;
}

.error-text {
  display: block; /* Cada mensaje de error en una nueva línea */
}

button {
  width: 80%; /* Ocupa el 100% del ancho disponible */
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #687483;
  font-family: "Staatliches", cursive;
  font-size: 2rem; /* Tamaño del texto del botón */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */

}


button:hover {
  background-color: #5a6770; /* Color más oscuro al pasar el mouse */
}

button:disabled {
  background-color: #a0a8b0; /* Color más claro cuando está deshabilitado */
  cursor: not-allowed;
}

.loading {
  opacity: 0.7; /* Reduce la opacidad cuando está cargando */
}

.message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.success {
  margin: auto;
  margin-top: 16px;
  width: 80%;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
}

.error {
  margin: auto;
  margin-top: 16px;
  width: 80%;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
}