<app-header/>
<div class="contenedor">
    <div class="login-container">
        <img src="logo.png" alt="Logo de la Aplicación" class="logo">
        <h1>Inicio de Sesión</h1>

        

        <form class="formulario" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Campo de email -->
            <input
                type="text"
                placeholder="Correo"
                formControlName="correo"
                [ngClass]="{ 'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }"
            >
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <div class="error-message">
                    @if (loginForm.get('email')?.errors?.['required']) {
                        <div>El email es requerido.</div>
                    }
                    @if (loginForm.get('email')?.errors?.['email']) {
                        <div>El email no es válido.</div>
                    }
                </div>
            }

            <!-- Campo de contraseña -->
            <div class="password-container">
                <input class="password-input"
                    [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Contraseña"
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
                >
                <i class="fas" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
            </div>

            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <div class="error-message">
                    @if (loginForm.get('password')?.errors?.['required']) {
                        <div>La contraseña es requerida.</div>
                    }
                    @if (loginForm.get('password')?.errors?.['minlength']) {
                        <div>La contraseña debe tener al menos 6 caracteres.</div>
                    }
                </div>
            }
            @if (errorMessage) {
                <div class="error-message">
                    {{ errorMessage }}
                </div>
            }

            <button type="submit" [disabled]="loginForm.invalid || isLoading">Iniciar Sesión</button>

            <!-- Enlaces de ayuda -->
            <div class="help-links">
                <a [routerLink]="['/singup']"  >¿Aun no tienes cuenta? Crear una justo ahora</a>
            </div>
            <div class="help-links" style="margin-right: 1px;">
                <a href="#">Olvidé mi contraseña</a>
            </div>
        </form>
    </div>
</div>