<app-header/>
<div class="container">
    <h1 >Perfiles Escolares</h1>
    <h1 class="title">Seleccione su usuario para ingresar</h1>
    <div class="profiles-grid">
<!-- Directivo -->
<div>
<app-profile
src="directivo.jpg" 
alt="Imagen de un directivo con gesto profesional" 
title="Directivo"
>
</app-profile>
</div>

<!-- Alumno -->
<div>
    <app-profile
    src="alumno.jpg" 
    alt="Imagen de un estudiante" 
    title="Alumno"
    >
</app-profile>
</div>

<!-- Profesor -->
<div>
    <app-profile
    src="maestro.jpg" 
    alt="Imagen de un directivo con gesto profesional" 
    title="Maestro"
    >
    </app-profile>
</div> <!--Fin profesor-->

    </div>
</div>