
.contenedor {
    max-width: 50rem;
    margin: 2rem auto;
  }
  
  .contenedor__informacion, .contenedor__crearCuenta, .contenedor-botones {
    max-width: 90rem;
    margin: 2rem auto;
  }
  
  .contenedor__crearCuenta {
    max-width: 50rem;
    margin: 2rem auto;
  }
  
  .contenedor__iformacion {
    max-width: 90rem;
    margin: 2rem auto;
  }
  
  .contenedor__iformacion p {
    text-align: justify;
    margin: 0 1rem;
  }
  
  .contenedor__informacion p {
    text-align: justify;
    margin: 0 1rem;
  }
.contenedor__formulario {
    font-family: Arial, sans-serif;
    background-color: #e2c4b6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #e2c4b6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #595d6f;
    font-family: "Courier New", Courier, monospace;
    background-color: #fbeadf;
  }
  
  button {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #687483;
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5a6770;
  }
  
  .contenedor__crearCuenta {
    max-width: 50rem;
    margin: 2rem auto;
  }
  .contenedor__crearCuenta .login-container {
    background-color: #e2c4b6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .logo {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .login-container h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #595d6f;
  }
  .help-links a {
    color: #687483;
    text-decoration: none;
  }
  
  .help-links a:hover {
    text-decoration: underline;
  }